body {
	font-family: "Lato", "Roboto Mono", "sans-serif";
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.andy-email{
    font-size: 14px;
    color: #6C757D;
}

.navbar {
    li{
        &:hover{
            color: green;
            border-left: 4px solid green;

            a, span{
                &:hover{
                    color: green;
                }
            }
        }

        a{
            &:hover{
                color: green;
            }
        }
    }
}


table {
	width: 100%;
}




